<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../assets/css/base.css" />
    <link rel="stylesheet" href="../../assets/css/home.css" />
    <link rel="stylesheet" href="../../assets/css/mytask.css" />
    <script
      src="../../components/Header/app-header.js"
      defer
      type="module"
    ></script>

    <title>Home</title>
  </head>
  <body>
    <app-header></app-header>

    <div class="main-container">
      <aside class="sidebar">
        <div class="user-profile">
          <div class="avatar"></div>
          <p class="user-name">Tên Người Dùng</p>
          <p class="user-email">email@example.com</p>
        </div>

        <nav class="sidebar-nav">
          <a href="#" class="nav-item" data-target="dashboard-content">
            <i class="fa-solid fa-gauge-high"></i>
            <span>Dashboard</span>
          </a>
          <a href="#" class="nav-item active" data-target="my-task-content">
            <i class="fa-solid fa-list-check"></i>
            <span>My Task</span>
          </a>
          <a href="#" class="nav-item">
            <i class="fa-solid fa-tasks"></i>
            <span>Task Categories</span>
          </a>
          <a href="#" class="nav-item" data-target="info-account">
            <i class="fa-solid fa-circle-user"></i>
            <span>Account</span>
          </a>
          <a href="#" class="nav-item">
            <i class="fa-solid fa-circle-question"></i>
            <span>Help</span>
          </a>
        </nav>

        <div class="logout">
          <a href="#">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
          </a>
        </div>
      </aside>

      <main class="main-content">
        <header class="content-header">
          <h2>Nội dung chính</h2>
        </header>

        <section id="dashboard-content" class="content-area">
          <div class="card">
            <h3>Đây là nơi hiển thị nội dung chi tiết</h3>
            <p>
              Chào mừng bạn đến với khu vực nội dung chính. Bạn có thể đặt các
              biểu đồ, bảng biểu hoặc form tại đây.
            </p>
          </div>
        </section>

        <!-- My Task -->
        <section id="my-task-content" class="content-area active-content">
          <div class="task-content-wrapper">
            <div class="list-tasks">
              <div class="header-lists">
                <h4>My Tasks</h4>
                <button class="btnAddTask">
                  Add Task <i class="fa-solid fa-plus"></i>
                </button>
              </div>
              <ul class="lists">
                <li class="task" data-task-id="1">
                  <h5>Task Title</h5>
                  <p class="task-desc">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Enim ipsam deleniti explicabo corporis, doloribus similique?
                    Qui animi esse mollitia, assumenda optio distinctio et ipsam
                    nostrum facilis, explicabo nemo. Ea, reiciendis ratione!
                    Doloribus fugit aliquam officiis quibusdam aut beatae error,
                    accusamus voluptatibus tempore suscipit incidunt eos
                    repellat consequatur non atque nam temporibus adipisci ad
                    ipsum fugiat? Debitis officiis necessitatibus soluta. Amet
                    molestias blanditiis fugiat adipisci magnam illo provident
                    deleniti aut repellat placeat delectus minima sed saepe,
                    odit molestiae reiciendis quos laudantium voluptates! Fugit
                    explicabo id, neque similique nihil quia ratione nisi labore
                    ipsam, magnam impedit mollitia in dolorem error quae
                    incidunt.
                  </p>
                  <span class="task-priority"
                    >Priority: <span>Extreme</span></span
                  >
                  <span class="task-status"
                    >Status: <span>Incomplete</span></span
                  >
                </li>
                <li class="task" data-task-id="2">
                  <h5>Task Title</h5>
                  <p class="task-desc">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Enim ipsam deleniti explicabo corporis, doloribus similique?
                    Qui animi esse mollitia, assumenda optio distinctio et ipsam
                    nostrum facilis, explicabo nemo. Ea, reiciendis ratione!
                    Doloribus fugit aliquam officiis quibusdam aut beatae error,
                    accusamus voluptatibus tempore suscipit incidunt eos
                    repellat consequatur non atque nam temporibus adipisci ad
                    ipsum fugiat? Debitis officiis necessitatibus soluta. Amet
                    molestias blanditiis fugiat adipisci magnam illo provident
                    deleniti aut repellat placeat delectus minima sed saepe,
                    odit molestiae reiciendis quos laudantium voluptates! Fugit
                    explicabo id, neque similique nihil quia ratione nisi labore
                    ipsam, magnam impedit mollitia in dolorem error quae
                    incidunt.
                  </p>
                  <span class="task-priority"
                    >Priority: <span>Extreme</span></span
                  >
                  <span class="task-status"
                    >Status: <span>Incomplete</span></span
                  >
                </li>
                <li class="task" data-task-id="3">
                  <h5>Task Title</h5>
                  <p class="task-desc">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Enim ipsam deleniti explicabo corporis, doloribus similique?
                    Qui animi esse mollitia, assumenda optio distinctio et ipsam
                    nostrum facilis, explicabo nemo. Ea, reiciendis ratione!
                    Doloribus fugit aliquam officiis quibusdam aut beatae error,
                    accusamus voluptatibus tempore suscipit incidunt eos
                    repellat consequatur non atque nam temporibus adipisci ad
                    ipsum fugiat? Debitis officiis necessitatibus soluta. Amet
                    molestias blanditiis fugiat adipisci magnam illo provident
                    deleniti aut repellat placeat delectus minima sed saepe,
                    odit molestiae reiciendis quos laudantium voluptates! Fugit
                    explicabo id, neque similique nihil quia ratione nisi labore
                    ipsam, magnam impedit mollitia in dolorem error quae
                    incidunt.
                  </p>
                  <span class="task-priority"
                    >Priority: <span>Extreme</span></span
                  >
                  <span class="task-status"
                    >Status: <span>Incomplete</span></span
                  >
                </li>
              </ul>
            </div>
            <div class="details-task" id="task-detail-pane">
              <div class="detail-card">
                <h3>Submit Documents</h3>
                <p class="priority">Priority: <span>Extreme</span></p>
                <p>Created on: 1/12/2025</p>
                <div>
                  <div><strong>Task Title</strong>: Document Submission</div>

                  <div>
                    <strong>Objective:</strong> Review the list of documents
                    required for submission...
                  </div>

                  <div>
                    <strong>Description:</strong> Lorem ipsum dolor, sit amet
                    consectetur adipisicing elit. Quod dolor saepe dolorum,
                    distinctio fuga suscipit adipisci quam. Optio magnam
                    voluptatibus debitis doloribus ducimus ullam beatae quisquam
                    natus recusandae neque sit id perspiciatis, aspernatur ut
                    voluptas adipisci? Nam iste deserunt nihil numquam,
                    eligendi, ullam eos adipisci, optio ipsa officia sed quasi
                    praesentium? Quia dolor explicabo impedit sunt nobis et
                    dolores asperiores, suscipit ipsa eos praesentium, odio
                    consequatur repudiandae consequuntur numquam accusantium quo
                    itaque distinctio. Culpa excepturi cum molestiae vitae est
                    quas, repellendus modi repellat deserunt eius. Sapiente
                    suscipit repudiandae asperiores assumenda animi unde eos
                    ratione praesentium, voluptate sequi quis dolorum
                    reprehenderit.
                  </div>
                </div>
                <div class="detail-actions">
                  <i class="fa-solid fa-trash-can"></i>
                  <i class="fa-solid fa-pen"></i>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="info-account" class="content-area">
          <div class="card">
            <h3>Account</h3>
            <p>
              Chào mừng bạn đến với khu vực nội dung chính. Bạn có thể đặt các
              biểu đồ, bảng biểu hoặc form tại đây.
            </p>
          </div>
        </section>
      </main>

      <div id="modal"></div>
    </div>

    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/mytask.js"></script>
  </body>
</html>
