body {
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 1000px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-signup h3,
#form h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.box {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    width: 360px;

}

.box i {
    font-size: 18px;
    margin-right: 10px;

}

.inp,
#email,
#password {
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
}

.btnShow {
    border: none;
    background-color: var(--white);
    cursor: pointer;
    transition: all ease .3s;
    font-size: 18px;

}

.btnHide {
    display: none;
}

.btnLogin {
    border: none;
    background-color: var(--primary);
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
    color: var(--white);
    border-radius: 5px;
    transition: all ease .2s;
    cursor: pointer;
}

.btnLogin:hover {
    background-color: var(--light-primary);

}

.desc {
    font-size: 14px;
}

#toggle-signup,
#toggle-login {
    text-decoration: none;
    color: var(--light-blue);
}

.imgLogin {
    margin-top: 100px;
}

.imgLogin img {
    height: 400px;
}


/* Flip */
/* Thiết lập không gian 3D cho thẻ bao ngoài (flip-container) */
.flip-container {
    perspective: 1000px;
    /* Độ sâu 3D */
}

/* Thẻ lật thực tế (flipper) */
.flipper {
    transition: 0.6s;
    /* Thời gian chuyển động lật */
    transform-style: preserve-3d;
    /* Giữ các phần tử con trong không gian 3D */
    position: relative;
    /* Đảm bảo flipper chiếm kích thước của content */
    width: 100%;
    height: 100%;

}

/* Kích hoạt lật thẻ khi class 'flipped' được thêm vào */
.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

/* Thiết lập mặt trước và mặt sau */
.front,
.back {
    /* Đặt 2 mặt chồng lên nhau */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Ẩn mặt sau khi nó quay đi */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    /* Kế thừa style của .content */
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

/* Mặt trước (Log In) */
.front {
    transform: rotateY(0deg);
}

/* Mặt sau (Sign Up) - Quay 180 độ ngay từ đầu */
.back {
    transform: rotateY(180deg);
}