body {
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    /* position: relative; */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content img {
    height: 140px;
    margin-bottom: 20px;
}

.content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.content p {
    color: var(--color-text);
}